body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.table-responsive {
  width: 80%;
  margin: 20px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #4CAF50;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #ddd;
}

.table td {
  vertical-align: middle;
}

.table td button {
  width: 100%; /* Ajusta este valor según tus necesidades */
}

.form-control, .input-edit {
  background-color: #f8f9fa;
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus, .input-edit:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-success {
  /* Asegúrate de que la fuente que estás utilizando soporta emojis */
  font-family: Arial, sans-serif;
}
